<div class="comments">
  {{#each this}}
  <section class="card comment">
    <div class="card-header"></div>
    <div class="text">
      {{comment_text}}
    </div>
    <div class="meta">
      -{{user.username}}, {{format_date created_at}}
    </div>
  </section>
  {{/each}}
</div>