<article class="post">
  <div class="title">
    <h3 class='card-header'>
      <a href="/dashboard/edit/{{id}}" class="edit-link">{{title}}</a>
      <p>{{created_at}}</p>
    </h3>
  </div>
</article>