<article class="post">
  <div class="title">
    <h3 class='card-header'>
      <p><a href="/post/{{id}}">{{title}}</a></p>
      <p>{{created_at}}</p>
      <p><a href="/dashboard/edit/{{id}}" class="edit-link">Edit Post</a></p>
    </h3>
  </div>
</article>