<article class="post">
  <div class="card">
    <h3 class='card-header'>
      <p><a href="/post/{{id}}">{{title}}</a></p>
      <p>{{format_date created_at}}</p>
    </h3>
    <p>{{post_text}}</p>
  </div>
</article>