{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info-dashboard post}}
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<section>
  <a href="/dashboard/new-post" class="newPost" >+ New Post</a>
</section>