<form class="login-form card">
  <h3 class="card-header">Login</h2>
  <div>
    <label class='form-label' for="email-login">Email:</label>
    <input class='post-title' type="text" id="email-login" autocomplete="off"/>
  </div>
  <div>
    <label class='form-label' for="password-login">Password:</label>
    <input class='post-title' type="password" id="password-login" autocomplete="off"/>
  </div>
  <div>
    <button type="submit" class="btn">Login!</button>
  </div>
  <div>
    <a href="/signup">Sign up instead</a>
  </div>
</form>

<script src="/javascript/login.js"></script>