<section class="card">
  <h3 class="card-header">Create New Post</h2>
  <form class="new-post-form">
    <div>
      <label class='form-label' for="post-title">Title</label>
      <input class='post-title' type="text" id="post-title" name="post-title" autocomplete="off"/>
    </div>
    <div>
      <label class='form-label' for="post-text">Content</label>
      <input class='form-input' id="post-text" name="post-text" autocomplete="off"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<script src="/javascript/add-post.js"></script>