{{> post-info-home post}}
{{> comments post.comments}}

{{#if loggedIn}}
<form class="card comment-form">
  <div class="card-header"></div>
  <p>Comment</p>
  <div>
    <textarea class="post-title" name="comment-body"></textarea>
  </div>
  <div>
    <button class='btn' type="submit">Submit</button>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}